/* ----- Catppuccin Colors ----- */

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "hack nerd font";
}

// Global Styles
.bar {
  background-color: rgba($base, 1);
  color: $text;
  padding-left: 10px;
  padding-right: 10px;
}

// Background on bar
.icons-background {
  border-radius: 10px;
  transition: background-color 100ms;
}

.icons-background > box {
  background-color: rgba($crust, 1);
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.icons-background:hover {
  background-color: rgba($crust, 1);
}

// Infos (ex: wifi, battery, etc...)
.info {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
}

.vol-icon,
.wifi-icon,
.music-icon,
.arch-icon {
  color: $text;
  font-size: 22px;
}

.workspaces button {
  font-size: 22px;
}

.icon-label {
  margin-right: 5px;
}

.time {
  font-size: 1.1em;
}

.control-center-background {
  padding: 5px;
  background-color: rgba($base, 1);
  border-radius: 10px;
  border: 3px solid $text;
}

.control-slider trough highlight {
  all: unset;
  margin: 0px;
  background-color: $mauve;
  color: #000000;
  border-radius: 10px;
}

.volume-control trough highlight {
  background-color: $teal;
}

.control-slider scale trough {
  all: unset;
  background-color: rgba($crust, 0.5);
  border-radius: 10px;
  min-width: 50px;
  margin: 0;
}

.control-slider scale {
  min-height: 150px;
}

.control-slider {
  margin-right: 5px;
}

.control-slider button,
.control-slider .active-button {
  background-color: rgba($crust, 0.5);
  border-radius: 10px;
  min-height: 50px;
  min-width: 50px;
  margin-top: 5px;
  transition: background-color 0.2s;
}

.control-slider .active-button {
  background-color: $mauve;
}

.volume-control button:active,
.volume-control .clicked {
  background-color: $teal;
}


.control-button, .action-button {
  border-radius: 10px;
  background-color: rgba($crust, 0.5);
  transition: background-color 0.2s;
}

.bg-sapphire.clicked {
  background-color: $sapphire;
}

.bg-sapphire:active {
  background-color: $sapphire;
}

.bg-peach.clicked {
  background-color: $peach;
}

.bg-peach:active {
  background-color: $peach;
}

.bg-yellow.clicked {
  background-color: $yellow;
}

.bg-yellow:active {
  background-color: $yellow;
}

